.hero .modal__button {
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  transition: background-color var(--transition-start-time) var(--cubic-bezier),
    color var(--transition-start-time) var(--cubic-bezier);
}
.hero .modal__button:hover,
.hero .modal__button:focus {
  background-color: var(--button-hover-focus);
  color: var(--title-text-color-footer);
}
.footer__btn,
.modal-form__btn {
  align-self: center;
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--title-text-color-footer);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 29px;
  transition: background-color var(--transition-start-time) var(--cubic-bezier),
    color var(--transition-start-time) var(--cubic-bezier);
}
.footer__btn:hover,
.footer__btn:focus {
  background-color: var(--button-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
